<div class="footer pt-5 main-color-bg main-color bottom-0">
    <div class="container">
        <footer class="py-5 mb-4 d-flex justify-content-center align-content-center flex-wrap">
          <div class="card-body">
            <div class="location text-center">
              <h3>LOCATION</h3>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
            </div>
          </div>
          <div class="card-body">
            <div class="aroun text-center">
              <h3>AROUND THE WEB</h3>
              <div class="d-flex justify-content-center ">
                  <i class="fa-brands fa-facebook icon p-3"></i>
                  <i class="fa-brands fa-twitter icon p-3"></i>
                  <i class="fa-brands fa-linkedin-in icon p-3"></i>
                  <i class="fa-solid fa-globe mx-1 icon p-3"></i>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            <div class="location text-center">
              <h3>ABOUT FREELANCER</h3>
              <p>Freelance is a free to use, licensed Bootstrap</p>
              <p>theme created by Route</p>
            </div>
          </div>
        </footer>
      </div>
      <div class="footerEnd therder-color-bg text-white py-3">
          <p class="text-center">Copyright © Your Website 2021</p>
      </div>
</div>