.right{
    width: 100px;
    height: 5px;
    margin-right: 15px;
    transform: translateY(100%);
    background-color: white;
}
.left{
    width: 100px;
    height: 5px;
    margin-left: 15px;
    transform: translateY(100%);
    background-color: white;
}