<div class="contact my-5 d-flex justify-content-center align-content-center flex-column text-center">
    <h2>CONTACT SECTION</h2>
    <app-star2></app-star2>
    <div class="form mx-auto d-flex justify-content-center w-75 align-items-start flex-column">
        <input class="form-control border-0 border-bottom py-2 my-3" type="text" placeholder="usetName" required>
        <input class="form-control border-0 border-bottom py-2 my-3" type="number" placeholder="userAge" required>
        <input class="form-control border-0 border-bottom py-2 my-3" type="email" placeholder="userEmail" required>
        <input class="form-control border-0 border-bottom py-2 my-3" type="password" placeholder="userPassword" required>
        <button class="btn btn-success" type="submit">send Massage</button>
    </div>
</div>