<nav class="navbar position-fixed w-100 navbar-expand-lg main-color-bg main-color p-3 z-3" [class.py-4]="!isScrolling">
    <div class="container">
      <a class="navbar-brand fs-1 fw-bold" routerLink="">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto fw-bold">
          <a class="nav-link px-3 active" aria-current="page" routerLink="about" routerLinkActive="active">ABOUT</a>
          <a class="nav-link px-3" routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
          <a class="nav-link px-3" routerLink="contact" routerLinkActive="active">CONTSCT</a>
        
        </div>
      </div>
    </div>
  </nav>